In [1]:
# Import the dependencies.
# 6.5.2
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Mataura,-46.1927,168.8643,49.24,73,20,3.65,NZ,2021-02-04 19:40:46
1,1,Huangnihe,43.5583,128.0239,0.52,91,24,1.01,CN,2021-02-04 19:41:09
2,2,Albany,42.6001,-73.9662,39.00,45,5,5.01,US,2021-02-04 19:40:45
3,3,Puerto Ayora,-0.7393,-90.3518,86.00,62,0,5.75,EC,2021-02-04 19:40:17
4,4,Nanchang,28.6833,115.8833,52.05,89,78,6.96,CN,2021-02-04 19:41:10

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent cloud
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [9]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
3,3,Puerto Ayora,-0.7393,-90.3518,86.00,62,0,5.75,EC,2021-02-04 19:40:17
9,9,Rikitea,-23.1203,-134.9692,78.46,68,82,10.09,PF,2021-02-04 19:40:44
10,10,Bambous Virieux,-20.3428,57.7575,80.60,74,20,9.22,MU,2021-02-04 19:40:58
13,13,Bonthe,7.5264,-12.5050,79.14,80,14,8.23,SL,2021-02-04 19:41:12
18,18,Etchoropo,26.7667,-109.6667,80.94,24,2,7.25,MX,2021-02-04 19:41:12
21,21,Moron,-34.6534,-58.6198,84.99,34,0,4.00,AR,2021-02-04 19:41:13
22,22,Abapo,-18.8333,-63.4667,77.81,55,93,2.82,BO,2021-02-04 19:41:13
27,27,Arraial Do Cabo,-22.9661,-42.0278,86.00,61,20,16.11,BR,2021-02-04 19:40:50
29,29,Georgetown,5.4112,100.3354,77.00,69,20,6.51,MY,2021-02-04 19:40:43
30,30,Butaritari,3.0707,172.7902,80.19,84,100,13.29,KI,2021-02-04 19:41:13

In [10]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
3      Puerto Ayora      EC     86.00  -0.7393  -90.3518
9           Rikitea      PF     78.46 -23.1203 -134.9692
10  Bambous Virieux      MU     80.60 -20.3428   57.7575
13           Bonthe      SL     79.14   7.5264  -12.5050
18        Etchoropo      MX     80.94  26.7667 -109.6667
21            Moron      AR     84.99 -34.6534  -58.6198
22            Abapo      BO     77.81 -18.8333  -63.4667
27  Arraial Do Cabo      BR     86.00 -22.9661  -42.0278
29       Georgetown      MY     77.00   5.4112  100.3354
30       Butaritari      KI     80.19   3.0707  172.7902

In [11]:
# Set parameters to search for a hotel. 6.5.4
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [12]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [13]:
hotel_df.head(5)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Puerto Ayora,EC,86.00,-0.7393,-90.3518,Castillo Galapagos
9,Rikitea,PF,78.46,-23.1203,-134.9692,Pension Maro'i
10,Bambous Virieux,MU,80.60,-20.3428,57.7575,Casa Tia Villa
13,Bonthe,SL,79.14,7.5264,-12.5050,Bonthe Holiday Village
18,Etchoropo,MX,80.94,26.7667,-109.6667,Campo de Andrés cruz jusaino

In [14]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Store the DataFrame Row.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [17]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))