## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
import os
os.chdir('..')

from config import g_key
#print(g_key)
# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,0,Castro,-24.7911,-50.0119,76.26,50,0,7.45,BR,clear sky
1,1,Victor Harbor,-35.5667,138.6167,60.01,98,100,3.00,AU,overcast clouds
2,2,Hithadhoo,-0.6000,73.0833,82.02,76,100,15.10,MV,overcast clouds
3,3,Talnakh,69.4865,88.3972,-29.07,76,0,3.47,RU,clear sky
4,4,Tasiilaq,65.6145,-37.6368,32.00,100,75,42.57,GL,snow

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria # Min 10; Max 50
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
4,4,Tasiilaq,65.6145,-37.6368,32.00,100,75,42.57,GL,snow
12,12,Port-Cartier,50.0334,-66.8654,30.99,93,100,3.44,CA,snow
19,19,Kodiak,57.7900,-152.4072,28.40,59,1,4.61,US,clear sky
21,21,Albany,42.6001,-73.9662,36.00,59,75,12.66,US,broken clouds
23,23,Kijang,35.2442,129.2139,35.60,87,1,4.61,KR,clear sky
26,26,Havre-Saint-Pierre,50.2334,-63.5986,32.00,93,90,12.66,CA,snow
27,27,Carballo,43.2130,-8.6910,46.99,78,14,1.99,ES,few clouds
28,28,Qaanaaq,77.4840,-69.3632,11.07,88,100,7.56,GL,overcast clouds
30,30,Upernavik,72.7868,-56.1549,20.59,81,100,6.51,GL,overcast clouds
31,31,Kobylka,52.3395,21.1959,19.99,72,32,3.00,PL,scattered clouds

In [5]:
print("Verification for the max " + str(preferred_cities_df["Max Temp"].max()))
print("Verification for the min " + str(preferred_cities_df["Max Temp"].min()))

Verification for the max 50.0
Verification for the min 10.0

In [15]:
# 4a. Determine if there are any empty rows.
print(preferred_cities_df.isna().sum())
print("---")
print(preferred_cities_df.isna().count())
print("---")
print(preferred_cities_df.count())
print("---")
print(preferred_cities_df.head(2))

City_ID                0
City                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Country                0
Current Description    0
dtype: int64
---
City_ID                165
City                   165
Lat                    165
Lng                    165
Max Temp               165
Humidity               165
Cloudiness             165
Wind Speed             165
Country                165
Current Description    165
dtype: int64
---
City_ID                165
City                   165
Lat                    165
Lng                    165
Max Temp               165
Humidity               165
Cloudiness             165
Wind Speed             165
Country                165
Current Description    165
dtype: int64
---
    City_ID          City      Lat      Lng  Max Temp  Humidity  Cloudiness  \
4         4      Tasiilaq  65.6145 -37.6368     32.00       100          75
12       12  Port-Cartier  50.0334 -66.8654     30.99        93         100

    Wind Speed Country Current Description
4        42.57      GL                snow
12        3.44      CA                snow

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].dropna().copy()
clean_df["Hotel Name"] = ""
clean_df.head(10)
#clean_df.count()

                  City Country  Max Temp      Lat       Lng Hotel Name
4             Tasiilaq      GL     32.00  65.6145  -37.6368
12        Port-Cartier      CA     30.99  50.0334  -66.8654
19              Kodiak      US     28.40  57.7900 -152.4072
21              Albany      US     36.00  42.6001  -73.9662
23              Kijang      KR     35.60  35.2442  129.2139
26  Havre-Saint-Pierre      CA     32.00  50.2334  -63.5986
27            Carballo      ES     46.99  43.2130   -8.6910
28             Qaanaaq      GL     11.07  77.4840  -69.3632
30           Upernavik      GL     20.59  72.7868  -56.1549
31             Kobylka      PL     19.99  52.3395   21.1959

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Tasiilaq,GL,32.00,snow,65.6145,-37.6368,
12,Port-Cartier,CA,30.99,snow,50.0334,-66.8654,
19,Kodiak,US,28.40,clear sky,57.7900,-152.4072,
21,Albany,US,36.00,broken clouds,42.6001,-73.9662,
23,Kijang,KR,35.60,clear sky,35.2442,129.2139,
26,Havre-Saint-Pierre,CA,32.00,snow,50.2334,-63.5986,
27,Carballo,ES,46.99,few clouds,43.2130,-8.6910,
28,Qaanaaq,GL,11.07,overcast clouds,77.4840,-69.3632,
30,Upernavik,GL,20.59,overcast clouds,72.7868,-56.1549,
31,Kobylka,PL,19.99,scattered clouds,52.3395,21.1959,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        hotel_df.loc[index, "Hotel Name"] = np.nan
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = pd.DataFrame(hotel_df)
#clean_hotel_df.isna().sum()
clean_hotel_df = clean_hotel_df.dropna()
clean_hotel_df.head(20)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Tasiilaq,GL,32.00,snow,65.6145,-37.6368,The Red House
12,Port-Cartier,CA,30.99,snow,50.0334,-66.8654,Le Q'Artier
19,Kodiak,US,28.40,clear sky,57.7900,-152.4072,Best Western Kodiak Inn And Convention Center
23,Kijang,KR,35.60,clear sky,35.2442,129.2139,Samyang Beach Villa
26,Havre-Saint-Pierre,CA,32.00,snow,50.2334,-63.5986,Auberge Niapiskau
27,Carballo,ES,46.99,few clouds,43.2130,-8.6910,Pazo do Souto
28,Qaanaaq,GL,11.07,overcast clouds,77.4840,-69.3632,Qaanaaq Hotel
30,Upernavik,GL,20.59,overcast clouds,72.7868,-56.1549,Gina's Guesthouse - Upernavik
31,Kobylka,PL,19.99,scattered clouds,52.3395,21.1959,Hotel Trylogia
38,Roma,US,28.40,overcast clouds,43.2128,-75.4557,Wingate By Wyndham Rome
39,Gucheng,CN,46.36,broken clouds,35.9115,111.3192,古城宾馆
41,Fortuna,US,46.99,overcast clouds,40.5982,-124.1573,Super 8 by Wyndham Fortuna
42,Havoysund,NO,24.80,light snow,70.9963,24.6622,Arctic View Glamping & Restaurant
44,Asau,RO,30.00,overcast clouds,46.4333,26.4000,Casa Mika Ciobanus
46,Pangnirtung,CA,14.00,broken clouds,66.1451,-65.7125,Kilabuk Lodge
49,Bonavista,CA,36.00,overcast clouds,48.6499,-53.1147,Abbott's Bed & Breakfast
58,Sitka,US,35.60,light snow,57.0531,-135.3300,Westmark Sitka
59,Bethel,US,39.99,scattered clouds,41.3712,-73.4140,Courtyard by Marriott Danbury
60,Mataura,NZ,48.85,clear sky,-46.1927,168.8643,Ellie's Villa
69,Lasa,IT,42.01,scattered clouds,46.6166,10.7002,Pension Feldgärtenhof

In [12]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt><b>City</b></dt><dd>{City}</dd>
<dt><b>Country</b></dt><dd>{Country}</dd>
<dt><b>Description</b></dt><dd>{Current Description}</dd>
<dt><b>Max Temp</b></dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))