## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os
os.chdir('..')

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head(5)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Tasiilaq,GL,32.00,snow,65.6145,-37.6368,The Red House
1,12,Port-Cartier,CA,30.99,snow,50.0334,-66.8654,Le Q'Artier
2,19,Kodiak,US,28.40,clear sky,57.7900,-152.4072,Best Western Kodiak Inn And Convention Center
3,23,Kijang,KR,35.60,clear sky,35.2442,129.2139,Samyang Beach Villa
4,26,Havre-Saint-Pierre,CA,32.00,snow,50.2334,-63.5986,Auberge Niapiskau

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt><b>City</b></dt><dd>{City}</dd>
<dt><b>Country</b></dt><dd>{Country}</dd>
<dt><b>Description</b></dt><dd>{Current Description}</dd>
<dt><b>Max Temp</b></dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start_df = pd.DataFrame(vacation_df.loc[vacation_df["City"] == "Roma"])
vacation_end_df = pd.DataFrame(vacation_df.loc[vacation_df["City"] == "Roma"])

#Trip stop
vacation_stop1_df = pd.DataFrame(vacation_df.loc[vacation_df["City"] == "Bethel"])
vacation_stop2_df = pd.DataFrame(vacation_df.loc[vacation_df["City"] == "Westport"])
vacation_stop3_df = pd.DataFrame(vacation_df.loc[vacation_df["City"] == "Palmer"])
vacation_start_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
9,38,Roma,US,28.4,overcast clouds,43.2128,-75.4557,Wingate By Wyndham Rome

In [9]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
vacation_start_df_np = list(tuple(x) for x in vacation_start_df[["Lat", "Lng"]].to_numpy())
vacation_end_df_np = list(tuple(x) for x in vacation_end_df[["Lat", "Lng"]].to_numpy())

vacation_stop1_df_np = list(tuple(x) for x in vacation_stop1_df[["Lat", "Lng"]].to_numpy())
vacation_stop2_df_np = list(tuple(x) for x in vacation_stop2_df[["Lat", "Lng"]].to_numpy())
vacation_stop3_df_np = list(tuple(x) for x in vacation_stop3_df[["Lat", "Lng"]].to_numpy())
print(vacation_start_df_np)
print(vacation_stop1_df_np)

[(43.2128, -75.4557)]
[(41.3712, -73.414)]

In [10]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()

fig = gmaps.figure()
map_checkpoints = gmaps.directions_layer(
        vacation_start_df_np[0], vacation_end_df_np[0], waypoints=[vacation_stop1_df_np[0],vacation_stop2_df_np[0],vacation_stop3_df_np[0]],
        travel_mode='DRIVING')
fig.add_layer(map_checkpoints)
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start_df, vacation_stop1_df, vacation_stop2_df, vacation_stop3_df],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,38,Roma,US,28.40,overcast clouds,43.2128,-75.4557,Wingate By Wyndham Rome
1,59,Bethel,US,39.99,scattered clouds,41.3712,-73.4140,Courtyard by Marriott Danbury
2,228,Westport,US,42.80,clear sky,41.1415,-73.3579,Norwalk Inn
3,360,Palmer,US,39.99,scattered clouds,42.1584,-72.3287,Wedgewood Motel

In [12]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt><b>City</b></dt><dd>{City}</dd>
<dt><b>Country</b></dt><dd>{Country}</dd>
<dt><b>Description</b></dt><dd>{Current Description}</dd>
<dt><b>Max Temp</b></dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]
locations

       Lat      Lng
0  43.2128 -75.4557
1  41.3712 -73.4140
2  41.1415 -73.3579
3  42.1584 -72.3287

In [13]:
# 11a. Add a marker layer for each city to the map.
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=vacation_start_df_np[0], zoom_level=5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))