## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os
os.chdir('..')

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head(5)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Dasoguz,TM,32.00,overcast clouds,41.8363,59.9666,Hotel Erik
1,2,Severo-Kurilsk,RU,12.60,broken clouds,50.6789,156.1250,Kak Doma
2,4,Punta Arenas,CL,50.00,few clouds,-53.1500,-70.9167,Hotel Dreams Del Estrecho
3,7,Bluff,NZ,58.41,overcast clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
4,8,Mantua,IT,46.00,overcast clouds,45.1667,10.7833,Hotel la Favorita

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt><b>City</b></dt><dd>{City}</dd>
<dt><b>Country</b></dt><dd>{Country}</dd>
<dt><b>Description</b></dt><dd>{Current Description}</dd>
<dt><b>Max Temp</b></dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start_df = pd.DataFrame(vacation_df.loc[vacation_df["City"] == "Jamestown"])
vacation_end_df = pd.DataFrame(vacation_df.loc[vacation_df["City"] == "Jamestown"])

#Trip stop
vacation_stop1_df = pd.DataFrame(vacation_df.loc[vacation_df["City"] == "Harrisburg"])
vacation_stop2_df = pd.DataFrame(vacation_df.loc[vacation_df["City"] == "Morris"])
vacation_stop3_df = pd.DataFrame(vacation_df.loc[vacation_df["City"] == "Roma"])
vacation_start_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
18,40,Jamestown,US,35.01,clear sky,42.097,-79.2353,Hampton Inn & Suites Jamestown

In [9]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
vacation_start_df_np = list(tuple(x) for x in vacation_start_df[["Lat", "Lng"]].to_numpy())
vacation_end_df_np = list(tuple(x) for x in vacation_end_df[["Lat", "Lng"]].to_numpy())

vacation_stop1_df_np = list(tuple(x) for x in vacation_stop1_df[["Lat", "Lng"]].to_numpy())
vacation_stop2_df_np = list(tuple(x) for x in vacation_stop2_df[["Lat", "Lng"]].to_numpy())
vacation_stop3_df_np = list(tuple(x) for x in vacation_stop3_df[["Lat", "Lng"]].to_numpy())
print(vacation_start_df_np)
print(vacation_stop1_df_np)

[(42.097, -79.2353)]
[(40.2737, -76.8844)]

In [10]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()

fig = gmaps.figure()
map_checkpoints = gmaps.directions_layer(
        vacation_start_df_np[0], vacation_end_df_np[0], waypoints=[vacation_stop1_df_np[0],vacation_stop2_df_np[0],vacation_stop3_df_np[0]],
        travel_mode='DRIVING')
fig.add_layer(map_checkpoints)
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start_df, vacation_stop1_df, vacation_stop2_df, vacation_stop3_df],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,40,Jamestown,US,35.01,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
1,255,Harrisburg,US,33.01,clear sky,40.2737,-76.8844,Hilton Harrisburg
2,425,Morris,US,32.00,clear sky,40.8334,-74.5329,Parsippany Inn and Suites Morris Plains
3,169,Roma,US,25.00,clear sky,43.2128,-75.4557,Wingate By Wyndham Rome

In [12]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt><b>City</b></dt><dd>{City}</dd>
<dt><b>Country</b></dt><dd>{Country}</dd>
<dt><b>Description</b></dt><dd>{Current Description}</dd>
<dt><b>Max Temp</b></dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]
locations

       Lat      Lng
0  42.0970 -79.2353
1  40.2737 -76.8844
2  40.8334 -74.5329
3  43.2128 -75.4557

In [13]:
# 11a. Add a marker layer for each city to the map.
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=vacation_start_df_np[0], zoom_level=5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))